language: ruby
rvm:
- 2.2
ruby:

# Assume bundler is being used, install step will run `bundle install`.
before_script:
 - chmod +x ./tests/cibuild
script: ./tests/cibuild

env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer

notifications:
  email:
    - arirezber@gmail.com