.content {
    display: block;
    margin-left: 240px;
    height: 100%;
    width: auto;
}

.sidebar {
    display: block;
    float: left;
    width: 210px;
    height: 100%;
    overflow: hidden;
}

.sidebar li {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 30px;
}

#flickr li, #instagram li {
    float: left;
}