.main {
    background-position: left top;
}

.sidebar {
    display: table-row;
    width: 100%;
    overflow: hidden;
    height: 0px;
}

.content {
    display: table-row;
    width: 100%;
    height: 100%;
    float: left;
}

.sidebar .about {
	max-height: 50px;
	overflow: scroll;
}

.sidebar .circular {
    width: 30px;
    height: 30px;
}

.nav {
    height: auto !important;
    width: 260px;
    padding: 10px;
    margin-bottom: 30px;
}

.nav li {
    display: inline;
    padding: 0 5px;
    line-height: 25px;
    float: left;
}

.nav li {
	border-left: 1px solid;
}

.nav li:nth-child(1) {
    border-left: 0px solid;
}
.nav li:nth-child(2) {
    border-left: 0px solid;
}
.nav li:nth-child(5) {
    border-left: 0px solid;
}

.feed {
    width: 100%;
}

