.content {
    display: table-row;
    width: 100%;
    height: 100%;
    float: left;
}

.feed, .projects {
    width: 100%;
    margin: 0px !important;
 }

 .itemContent {
     max-width: 100%;
 }

#nav {
   left: 50%;
   bottom: 10px;
   width: 47rem;
   transform: translate(-50%, 0);
}

#sun img {
    height: 20rem;
}

#photos {
    overflow-y: visible;
}