@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(https://themes.googleusercontent.com/static/fonts/droidsans/v4/s-BiyweUPV0v-yRb-cjciL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), url(https://themes.googleusercontent.com/static/fonts/lobster/v6/NIaFDq6p6eLpSvtV2DTNDQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Slab'), local('JosefinSlab'), url(http://themes.googleusercontent.com/static/fonts/josefinslab/v4/46aYWdgz-1oFX11flmyEfaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

@font-face {
  font-family: 'Josefin Slab Bold';
  font-style: normal;
  font-weight: 600;
  src: local('Josefin Slab SemiBold'), local('JosefinSlab-SemiBold'), url(http://fonts.gstatic.com/s/josefinslab/v5/NbE6ykYuM2IyEwxQxOIi2PBf3Xtc57ojmY2ox2Xv8Go.woff2) format('woff2'), url(http://fonts.gstatic.com/s/josefinslab/v5/NbE6ykYuM2IyEwxQxOIi2NOd4RnLmtUrdSQkDmC5b8k.woff) format('woff');
}

.main {
    display: table;
    width: 100%;
    background: url(../img/bg-cranes3.jpg);
    background-size: cover;
    font-family: 'Droid Sans';
    overflow: scroll;
}

.content {
    color: black;
    overflow-y: scroll;
    overflow-x: hidden;
}

#content-inner {
    max-height: 100%;
}

.sidebar {
    background-color: rgba(11, 83, 148, 0.5);
    color: white;
    overflow-y: scroll;
    overflow-x: auto;
}

.nav {
    margin: 0px;
    list-style: none;
    padding: 0px;
}

.nav a, .nav a:visited {
    color: white;
}

.nav a:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.1);
}

h1 {
    font-family: 'Lobster';
}

h2 {
    font-family: 'Josefin Slab';
}


.date {
    font-style: italic;
    font-size: 11px;
}

.about .name {
    color: rgba(245, 130, 32, 1);
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    /*-webkit-text-stroke-width: 0.001px;
    -webkit-text-stroke-color: white;*/
}

.about .titles {
    color: rgba(255, 255, 255, 1);
}

.about .description {
    color: black;
    background-color: rgba(255, 255, 255, 0.3);
}

.circular {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
    background-size: contain;
}

.sidebar .circular {
	width: 100px;
	height: 100px;
}

.sidebar .face {
    background-image: url(../img/face.jpg);
}

.sidebar .crane {
    background-image: url(../img/crane.jpg);
}

.feed, .projects {
    list-style: none;
    float: left;
    margin: 0px auto !important;
    width: 100%;
}

/* feed logo */

.feedLogo {
    width: 25px;
    padding-right: 5px;
    margin-left: 11px;
}

.twitter .feedLogo, .github .feedLogo {
    margin: 0px;
    float: left;
}

.instagram .feedLogo, .flickr .feedLogo {
   padding-bottom: 5px; 
}

/* titles */

.instagram .feedTitle, .flickr .feedTitle, .projects .oneliner {
    font-family: 'Josefin Slab Bold';
    font-size: 17px;
}

/* main page lists */

.content li {
    background-color: rgba(255,255,255,0.7);
    padding: 5px 5px 5px 5px;
}

li.twitter, li.github {
    text-align: left;
}

li.flickr, li.instagram {
    text-align: center;
    display: inline-block;
    margin: 10px auto;
}

/* flickr/instagram display */

.itemContent p {
    font-style: italic;
    font-size: 11px;
    margin: 0px;
}

.flickr .itemContent img {
/*    width: auto;
    max-height: 300px;
    max-width: 300px;*/
}

.instagram .itemContent img {
    width: 300px;
    height: 300px;
}

/* project page stuff */

.projects li {
    display: block;
    border: 1px;
    padding: 11px;
    font-size: 13px;
}

.projects h2 {
    color: rgba(255, 255, 255, 1);
}

.projects a, .projects a:visited {
    text-decoration: none;
    color: rgba(11, 83, 148, 1);
}

.projects .languages {
    margin-left: 10px
}

.projectImg {
    max-width: 200px;
    max-height: 300px;
}
