@font-face{
    font-family: 'Happy Fpx';
    src: url('Thonburi-Bold.ttf'),
    url('Thonburi-Bold.eot'); /* IE */
}

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(https://themes.googleusercontent.com/static/fonts/droidsans/v4/s-BiyweUPV0v-yRb-cjciL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Slab'), local('JosefinSlab'), url(http://themes.googleusercontent.com/static/fonts/josefinslab/v4/46aYWdgz-1oFX11flmyEfaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

@font-face {
  font-family: 'Josefin Slab Bold';
  font-style: normal;
  font-weight: 600;
  src: local('Josefin Slab SemiBold'), local('JosefinSlab-SemiBold'), url(http://fonts.gstatic.com/s/josefinslab/v5/NbE6ykYuM2IyEwxQxOIi2PBf3Xtc57ojmY2ox2Xv8Go.woff2) format('woff2'), url(http://fonts.gstatic.com/s/josefinslab/v5/NbE6ykYuM2IyEwxQxOIi2NOd4RnLmtUrdSQkDmC5b8k.woff) format('woff');
}

html {
    font-size: 20%;
    line-height: normal;
}

body {
    margin: 0;
}

h1 {
    font-family: 'Happy Fox';
    padding: none;
}

h2 {
    font-family: 'Josefin Slab';
}

.main {
    display: table;
    width: 100%;
    font-family: 'Droid Sans';
    overflow: scroll;
}

#sun {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
}

/* Bottom right social media links */

#nav {
    margin: 0px;
    list-style: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}

#nav li {
    display: inline;
    width: 5rem;
    height: 5rem;
    float: left;
    margin: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#nav #linkedin {
    background-image: url("../assets/img/icons/linkedin-icon.png");
}

#nav #github {
    background-image: url("../assets/img/icons/github-icon.png");
}

#nav #twitter {
    background-image: url("../assets/img/icons/twitter-icon.png");
}

#nav #instagram {
    background-image: url("../assets/img/icons/instagram-icon.png");
}

#nav #flickr {
    background-image: url("../assets/img/icons/flickr-icon.png");
}

#nav #fibseq {
    background-image: url("../assets/img/icons/fibseq-icon.png");
}

/* Main page background */

#landing-page {
    position: relative;
    overflow: scroll;
}

#landing-page img {
    min-height: 100%;
    width: 100%;
    object-fit: cover;
    float: left;
    bottom: 0
}

/* Feeds style */

#feeds {
    float: left;
}

.section {
    overflow: scroll;
}

#feeds, #projects {
    color: black;
    overflow-y: scroll;
    overflow-x: hidden;
    float: left;
    display: inline-block;
    text-align: center;
}

.feed, .projects {
    list-style: none;
    padding: 0px;
    width: 80%;
    margin-left: 10%;
}

/* feed logo */

.feedLogo {
    width: 25px;
    max-height: 25px;
    padding-right: 5px;
    margin-left: 11px;
}

/* titles */

.feedTitle, .projectTitle {
    font-family: 'Josefin Slab Bold';
    font-size: 6.5rem;
    max-width: 65%;
}

li.item {
    padding: 10px;
}

.itemContent {
    font-size: 4.5rem;
    margin: 0px;
    max-width: 50%;
}

.itemContent a {
    text-decoration: none;
    color: #666666;
}

.instagram .itemContent img,
.fibseq .itemContent img {
    width: 300px;
}

.itemContent img {
    border: 1px solid black;
}

.medium .itemContent img
 {
    width: 300px;
    height: 100%;
}

.fibseq .itemContent a, .fibseq .itemContent {
    font-family: 'Josefin Slab Bold';
    font-size: 5.5rem;
}

.flickr .itemContent a, .flickr .itemContent {
    color: #ff0084;
    margin-top: 0px;
    font-family: 'Josefin Slab Bold';
    font-size: 5.5rem;
}

.github .itemContent a, .github .itemContent {
    color: #6cc644;
}

.instagram .itemContent a, .instagram .itemContent {
    color: #3f729b;
    font-family: 'Josefin Slab Bold';
    margin-top: 0px;
}

.stackoverflow .itemContent a, .stackoverflow .itemContent {
    color: #FF9900;
}

.twitter .itemContent a, .twitter .itemContent {
    color: #55acee;
}

/* project page stuff */

.oneliner {
    font-family: 'Josefin Slab Bold';
    font-size: 6.5rem;
    max-width: 65%;
    color: #666666;
}

.projects li {
    display: block;
    border: 1px;
    padding: 11px;
    font-size: 13px;
}

.projects h2 {
    color: rgba(255, 255, 255, 1);
}

.projects a, .projects a:visited {
    text-decoration: none;
    color: rgba(11, 83, 148, 1);
}

.projects .languages {
    margin-left: 10px
}

.projectImg {
    max-width: 200px;
    max-height: 300px;
}

.date {
    font-style: italic;
    font-size: 11px;
}

#cv {
    min-height: 800px;
    width: 100%;
    overflow-y: visible;
}
