@font-face{
    font-family: 'Happy Fpx';
    src: url('Thonburi-Bold.ttf'),
    url('Thonburi-Bold.eot'); /* IE */
}

@font-face {
  font-family: 'Handlee'; /* in place of Noteworthy or Filmotype Alice */
  font-style: normal;
  font-weight: 400;
  src: local('Handlee Regular'), local('Handlee-Regular'), url(http://fonts.gstatic.com/s/handlee/v5/juOaTHBX9N7mCQYS68pw6QLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Slab'), local('JosefinSlab'), url(http://themes.googleusercontent.com/static/fonts/josefinslab/v4/46aYWdgz-1oFX11flmyEfaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

html {
    font-size: 20%;
}

h1 {
    font-family: 'Happy Fox';
    padding: none;
}

h2 {
    font-family: 'Josefin Slab';
}

.main {
    display: table;
    width: 100%;
    font-family: 'Handlee';
    overflow: scroll;
}

.sun {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
}

.nav {
    margin: 0px;
    list-style: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}
.nav li {
    display: inline;
    width: 5rem;
    height: 5rem;
    float: left;
    margin: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.nav #linkedin {
    background-image: url("../assets/img/icons/linkedin-icon.png");
}

.nav #github {
    background-image: url("../assets/img/icons/github-icon.png");
}

.nav #twitter {
    background-image: url("../assets/img/icons/twitter-icon.png");
}

.nav #instagram {
    background-image: url("../assets/img/icons/instagram-icon.png");
}

.nav #flickr {
    background-image: url("../assets/img/icons/flickr-icon.png");
}

.page {
    width: 100%;
    height: 100%;
}

#photo-page {
    background: url(../assets/img/background-text.jpg);
    background-position: bottom center;
    background-size: cover;
    z-index: 1;
}

#feeds {
    color: black;
    overflow-y: scroll;
    overflow-x: hidden;
}

#content-inner {
    max-height: 100%;    
}
.date {
    font-style: italic;
    font-size: 11px;
}

.feed, .projects {
    list-style: none;
    float: left;
    margin: 0px auto !important;
    width: 100%;
}

/* feed logo */

.feedLogo {
    width: 25px;
    padding-right: 5px;
    margin-left: 11px;
}

.twitter .feedLogo, .github .feedLogo, .stackoverflow .feedLogo {
    margin: 0px;
    float: left;
}

.instagram .feedLogo, .flickr .feedLogo, .medium .feedLogo {
   padding-bottom: 5px;
}

/* titles */

.instagram .feedTitle, .flickr .feedTitle, .projects .oneliner {
    font-family: 'Josefin Slab Bold';
    font-size: 17px;
}

/* main page lists */

.content li {
    background-color: rgba(255,255,255,0.85);
    padding: 5px 5px 5px 5px;
}

li.twitter, li.github, li.stackoverflow {
    text-align: left;
}

li.flickr, li.instagram {
    text-align: center;
    display: inline-block;
    margin: 10px auto;
}

/* flickr/instagram display */

.itemContent p {
    font-style: italic;
    font-size: 11px;
    margin: 0px;
}

.flickr .itemContent img {
/*    width: auto;
    max-height: 300px;
    max-width: 300px;*/
}

.instagram .itemContent img {
    width: 300px;
    height: 300px;
}

/* project page stuff */

.projects li {
    display: block;
    border: 1px;
    padding: 11px;
    font-size: 13px;
}

.projects h2 {
    color: rgba(255, 255, 255, 1);
}

.projects a, .projects a:visited {
    text-decoration: none;
    color: rgba(11, 83, 148, 1);
}

.projects .languages {
    margin-left: 10px
}

.projectImg {
    max-width: 200px;
    max-height: 300px;
}

#cv {
    min-height: 800px;
    width: 100%;
    overflow-y: visible;
}