@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(https://themes.googleusercontent.com/static/fonts/droidsans/v4/s-BiyweUPV0v-yRb-cjciL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), url(https://themes.googleusercontent.com/static/fonts/lobster/v6/NIaFDq6p6eLpSvtV2DTNDQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Slab'), local('JosefinSlab'), url(http://themes.googleusercontent.com/static/fonts/josefinslab/v4/46aYWdgz-1oFX11flmyEfaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

.main {
    display: table;
    width: 100%;
    background: url(../img/bg1.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Droid Sans';
    overflow: scroll;
}

.content {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sidebar {
    background-color: rgba(11, 83, 148, 0.5);
    color: white;
    overflow-y: scroll;
    overflow-x: auto;
}

.spacer {
    display: table-row;
    height: 10px;
}


.nav {
    margin: 0px;
    list-style: none;
    padding: 0px;
}

.nav a, .nav a:visited {
    color: white;
}

.nav a:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.1);
}

.feedLogo {
    width: 25px;
    float: left;
}

h1 {
    font-family: 'Lobster';
}

h2 {
    font-family: 'Josefin Slab';
}


.date {
    font-style: italic;
    font-size: 11px;
}

.about .name {
    color: rgba(245, 130, 32, 1);
}

.about .titles {
    color: rgba(255, 255, 255, 1);
}

.about .description {
    color: black;
    background-color: rgba(255, 255, 255, 0.3);
}

.circular {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
    background-size: contain;
}

.sidebar .circular {
	width: 100px;
	height: 100px;
}

.sidebar .face {
    background-image: url(../img/face.jpg);
}

.sidebar .crane {
    background-image: url(../img/crane.jpg);
}

.feed, .projects {
    list-style: none;
    float: left;
    margin: 10px !important;
    width: 100%;
}

.feed li{ 
    padding: 11px;
}

#flickr li {
    text-align: center;
    padding: 0 5px;
    float: left;
    width: 300px !important;
}

#flickr p {
    font-style: italic;
    font-size: 11px;
    margin: 0px;
}

#flickr .feedTitle, .projects .oneliner {
    font-family: 'Josefin Slab';
    font-size: 17px;
}

#twitter img, #github img {
    padding-right: 5px;
}

.projects li {
    display: block;
    border: 1px;
    padding: 11px;
    margin: 11px;
    font-size: 13px;
}

.projects h2 {
    color: rgba(255, 255, 255, 1);
}

.projects a, .projects a:visited {
    text-decoration: none;
    color: rgba(11, 83, 148, 1);
}

.projects .languages {
    margin-left: 10px
}

.projectImg {
    max-width: 200px;
    max-height: 300px;
}