<center>
    <figure {% if include.classes %} class="{{ include.classes }}"{% endif %} {% if include.width %}style="width: {{ include.width }};"{% endif %}>
    {% for url in include.urls %}
        <img
            src="{{ site.baseurl | downcase | append: url  }}"
            alt="{{ include.alt | default: include.title }}"
            {% if include.title %}title="{{ include.title }}"{% endif %}
            class="image-grid-{{ include.urls | size }}"
            data-jslghtbx data-jslghtbx-group="post"
        />
    {% endfor %}
    {% if include.caption %}
    <figcaption>{{ include.caption }}</figcaption>
    {% endif %}
</figure>
</center>