<center>
    <figure style="width: {% if include.width %}{{ include.width }}{% else %}100%{% endif %};">
        <div class="media-grid-container">
        {% for url in include.urls %}
            <div class="media-grid-element" style="flex-grow:{% aspectratio url %};">
            {% assign filetype = url | split: '.' | last | downcase | remove: '.'  %}
            {% if filetype == 'mp4' or filetype == 'mov' %}
            {% if filetype == "mov" %}{% assign filetype = "quicktime" %}{% endif %}
                <video 
                    {% if include.options %}{{ include.options }}
                    {% else %}autoplay controls muted loop{% endif %}>
                    <source src="{{ site.baseurl | downcase | append: url }}" type="video/{{ filetype }}"
                    data-jslghtbx data-jslghtbx-group="post">
                </video>
            {% else %}
                <img
                    src="{{ site.baseurl | downcase | append: url  }}"
                    {% if include.title %}title="{{ include.title }}"{% endif %}
                    data-jslghtbx data-jslghtbx-group="post"
                />
            {% endif %}
            </div>
        {% endfor %}
        </div>
        {% if include.caption %}
        <figcaption>{{ include.caption }}</figcaption>
        {% endif %}
    </figure>
</center>