{% if include.caption %}
<table class="image">
<caption align="bottom"><i>{{ include.caption }}</i></caption>
<tr><td>
{% endif %}
<div style="float: left; padding-bottom: 10px; text-align: center">
{% for url in include.urls %}
    {% if include.options %}
    <video {{ include.options }} class="image-grid-{{ include.urls | size }}">
    {% else %}
    <video autoplay controls muted loop width="100%" class="image-grid-{{ include.urls | size }}">
    {% endif %}
    <source src="{{ url | prepend: site.baseurl | downcase }}" type="video/mp4" />
    </video>
{% endfor %}
</div>
{% if include.caption %}
</td></tr>
</table>
<br/>
{% endif %}


