<center>
    <figure class="image" 
        style="width: {% if include.width %}{{ include.width }}{% else %}100%{% endif %};">
        {% for url in include.urls %}
        {% assign filetype = url | split: '.' | last | downcase| remove: '.'  %}
        {% if filetype == "mov" %}{% assign filetype = "quicktime" %}{% endif %}
        <video 
            {% if include.options %}{{ include.options }}
            {% else %}autoplay controls muted loop{% endif %}
            class="image-grid-{{ include.urls | size }}"
            src="{{ site.baseurl | downcase | append: url }}" type="video/{{ filetype }}">
        </video>
        {% endfor %}
        {% if include.caption %}
        <figcaption>{{ include.caption }}</figcaption>
        {% endif %}
    </figure>
    </center>