<center>
    <div class="about">
        <a href="/" style="text-decoration: none;"><h1 class="name">Beth Crane</h1></a>
        <h2 class="titles">Software Engineer & Photographer</h2>
        <p class="description">
            Beth, /b&epsilon;&theta;/, (n); Rational thinker, incredulous individual, literature enthusiast.
        </p>
    </div>
    <ul class="nav">
        <li><div class="circular face"></div></li>
        {{#each this}}
        <li><a href="{{url}}">{{text}}</a></li>
        {{/each}}
        <li><div class="circular crane"></div></li>
    </ul>
    <div class="contact">
        beth@brolgaswan.com
    </div>
</center>