<center>
    <div class="about">
        <a href="/" style="text-decoration: none;"><h1 class="name">Beth Crane</h1></a>
        <p class="description">
            Beth, /b&epsilon;&theta;/, (n); Rational thinker, incredulous individual, literature enthusiast.
        </p>
        <h2 class="titles">Software Engineer & Photographer</h2>
        <p class="description">
            Blood is thicker than water but maple syrup is thicker than blood so technically pancakes are more important than family
        </p>
    </div>
    <ul class="nav">
        {{#each this}}
        <li><a href="{{url}}">{{text}}</a></li>
        {{/each}}
    </ul>
    <div class="contact">
        abethcrane@gmail.com
    </div>
</center>